Django==3.1
django-heroku==0.3.1
gunicorn==20.0.4
six==1.15.0
Pillow==7.2.0
captcha==0.3
django-simple-captcha==0.5.12
django-ranged-response==0.2.0
django-recaptcha==2.0.6
django-ckeditor==6.0.0
whoosh ==2.7.4
git+https://github.com/django-haystack/django-haystack.git@08dd9471a0137ba87b8145cf1ec5ff9d8d498a2e
feedparser==6.0.1
sgmllib3k==1.0.0
django-jet2==1.0.12
google-api-python-client==1.12.3
elasticsearch
certifi
