<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recetas</title>
</head>
<body>
<div class="album py-4 ">
    <div class="container">
        <div class="row">
        {% for rec in receta %}
        	{% if rec.state != 2 %}
             <div class="col-md-4">
                <div class="jumbotron">
                <h2> <a href="{% url 'post_detail' pk=rec.pk %}">{{ rec.title }}</a></h2>
                 <h5>
                    {%if user.is_authenticated%}
                        Por <a href="{% url 'show_profile_page' pk=rec.author.pk %}">{{ rec.author.profile }}</a>
                    {%else%}
                        Por {{ rec.author.profile }}
                    {%endif%}
                </h5>
                <p>Fecha de Publicación: {{ rec.published_date }}  <strong>Likes: {{ rec.total_likes}}</strong></p>
                    <p><strong><span class="badge badge-secondary">
                        Categoría: {{ rec.get_categoria_display }}</span></strong></p>
                <p> <img class="d-block w-100 h-100" src = "{{ rec.imagen.url }}"   /> </p>
                    <p>Ingredientes: {{ rec.ingredients|safe  }} </p>
                <br>
                </div>
                    </div>
            {%endif%}
            {%empty%}
            <div class="container d-flex align-items-center flex-column">
                <p><strong>No hay recetas para esta categoría :(</strong></p>
                <br><br><br><br><br><br>
            </div>
        {% endfor %}
                 </div>
    </div>
            </div>

</body>
</html>