<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>El Encuentro</title>
  <meta name="description" content="Bienvenidos a El Encuentro :)">

  <meta name="theme-color" content="#F0DB4F">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="shortcut icon" type="image/jpg" href="./static/1.jpg">
  <link rel="apple-touch-icon" href="./static/1.jpg">
  <link rel="apple-touch-startup-image" href="./static/1.jpg">
  <link rel="manifest" href="./manifest.json">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header class="Header">
    <h1>El Encuentro</h1>
    <img src="./static/1.jpg" alt="El Encuentro">
    <p>
      Bienvenidos a El Encuentro :)
    </p>

  </header>
  <main class="Main">
    {% if user.is_authenticated %}
    <li class="nav-item active">
    <a class="nav-link" href="{%url 'recetas'%}">Explorar <span class="sr-only">(current)</span></a>
  </li>
    <li class="nav-item active">
    <a class="nav-link" href="{%url 'recetas_follow' %}">Recetas de seguidos<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="{%url 'post_new'%}">Publicar Receta <span class="sr-only">(current)</span></a>
  </li>
    <li class="nav-item active">
    <a class="nav-link" href="{%url 'search_vista'%}">Buscar<span class="sr-only">(current)</span></a>
           <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{user.username}} </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{%url 'receta_user'%}">Mis recetas</a>
        <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id%}">Editar Perfil</a>
      <a class="dropdown-item" href="{% url 'password_change' %}">Cambiar contraseña</a>
      <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
      <div class="dropdown-divider"></div>
    </div>
  </li>
    {%if user.is_staff %}
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="https://elencuentro.herokuapp.com/admin/">Panel del Administrador<span class="sr-only">(current)</span></a>
      </li>
    {%endif%}
    {%else%}
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'recetas'%}">Recetas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'post_new'%}">Publicar Receta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'login'%}">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'register'%}">Registrarse</a>
      </li>

  {%endif%}
  </main>
  <script src="./script.js"></script>
</body>

</html>