{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>El Encuentro</title>
  <meta name="description" content="Bienvenid@s a El Encuentroooo :)">

  <meta name="theme-color" content="#663399">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="shortcut icon" type="image/png" href="/static/logo.png">
  <link rel="apple-touch-icon" href="/static/logo.png">
  <link rel="apple-touch-startup-image" href="/static/logo.png">
  <link rel="manifest" href="./manifest.json">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <header class="Header">
    <h1>EL ENCUENTRO</h1>
    <img src="/static/logo.png" alt="El Encuentro">
    <p>
      Bienvenid@s a EL ENCUENTRO
    </p>
    <nav>

    </nav>
  </header>
  <main class="Main">
    <img src="{%static '/1.jpg'%}" class="d-block w-100" alt="h-100">
  </main>
  <script src="./script.js"></script>
</body>

</html>