{% extends 'base_template.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#663399">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" type="image/png" href="/static/logo.png">
    <link rel="apple-touch-icon" href="/static/logo.png">
    <link rel="apple-touch-startup-image" href="/static/logo.png">
    <link rel="manifest" href="./manifest.json">
    <title>Home</title>
    

</head>
{%block content%}
<body>

<form action ="" method="POST">
        {% csrf_token %}

        <table>
            {{ form.as_table }}
        </table>
</form>

<script src="./script.js"></script>
</body>
{%endblock%}
</html>