{% extends 'base.html' %}

{% block content %}

    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-dark">Cambiar Contraseña</button>
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Reseteo de contraseña fallido</h1>
        <p>El link del reseteo de contraseña es inválido, posiblemente ya fue usado. Por favor genera un nuevo reseteo de contraseña</p>
    {% endif %}

{%endblock content%}