{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Registro de Usuario</title>
</head>
<body>
{%block content%}
 <div class="jumbotron">
    <form action ="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
<br>
<br>
        <button type="reset" class="btn btn-dark">Limpiar</button>
        <button type="submit" class="btn btn-dark">Registrar</button>
    </form>
 </div>


{%endblock content%}
</body>
</html>
<hr />